.SS_heading {  
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
    }
   
.SS_main_container {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 5px;
}